<html>
  <style>
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin-top: 50px;
    }
    button {
      background-color: black;
      color: white;
      width: 10rem;
    }
    form {
      text-align: center;
    }
  </style>
  <h1>Welcome <%= name %></h1>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>
</html>
